articles/Algorithms_for_Inverse_Reinforcement_Learning_Ng_Russel_2000.pdf filter=lfs diff=lfs merge=lfs -text
articles/RLHF/Reinforcement_Learning_from_Human_Feedback_A_short_introduction_to_RLHF_and_post-training_focused_on_language_models_Lambert_2026.pdf filter=lfs diff=lfs merge=lfs -text
articles/RLHF/A_General_Theoretical_Paradigm_to_Understand_Learning_from_Human_Preferences_Azar_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/RLHF/A_Little_Bit_of_Reinforcement_Learning_from_Human_Feedback_Lambert_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/RLHF/Controlled_Decoding_from_Language_Models_Mudgal_2024.pdf filter=lfs diff=lfs merge=lfs -text
books/Planning_Algorithms_LaValle_2006.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/NIPS-2008-multi-agent-filtering-with-infinitely-nested-beliefs-Paper.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/The_BDI_Model_of_Agency_and_BDI_Logics_Thorne_2005.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/The_Belief-Desire-Intention_Model_of_Agency_Georgeff_1998.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/A_Behavioral_Model_of_Rational_Choice_Simon_1957.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Agent_Behaviors_and_The_belief–desire–intention_model_Khamis_2020_slides.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/The_Belief-Desire-Intention_Ontology_for_modelling_mental_reality_and_agency_Zuppiroli_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Intention_Plans_and_Practical_Reason_Bratman_1999.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Belief_States_for_Cooperative_Multi-Agent_Reinforcement_Learning_under_Partial_Observability_Pritz_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Bratman_Intentions_Plans_and_Practical_Reason_1987.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Bratman-PlansPracticalResoning_1988.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Classification_and_Clustering_BFTA2019_Thierry_Denceux_Lecture3.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Intelligent_planning_A_decomposition_and_abstraction_based_approach_to_classical_planning_Rao_Georgeff_ICMAS_1995.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Intro_to_Belief_Functions_BFTA2019_Thierry_Denceux_Lecture1.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Decision-making_in_an_embedded_reasoning_system_Georgeff_1987.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Integrated_Control_and_Coordinated_Behaviour-A_Case_for_Agent_Models_Ferguson_1995.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Methods_for_Building_Belief_Functions_BFTA2019_Thierry_Denceux_Lecture2.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Mindscapes_Philosophy_Science_and_the_Mind_Martin_Carrier_1997.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/NIPS-2001-playing-is-believing-the-role-of-beliefs-in-multi-agent-learning-Paper.pdf filter=lfs diff=lfs merge=lfs -text
books/A_Course_in_Reinforcement_Learning_2ndEd_Bertsekas_2026.pdf filter=lfs diff=lfs merge=lfs -text
articles/bdi_model/Reasoning_with_Belief_Functions_An_Analysis_of_Compatibility_Pearl_1990.pdf filter=lfs diff=lfs merge=lfs -text
books/Multi_Agent_Reinforcement_Learning_Albrecht_2024.pdf filter=lfs diff=lfs merge=lfs -text
