articles/Algorithms_for_Inverse_Reinforcement_Learning_Ng_Russel_2000.pdf filter=lfs diff=lfs merge=lfs -text
articles/RLHF/Reinforcement_Learning_from_Human_Feedback_A_short_introduction_to_RLHF_and_post-training_focused_on_language_models_Lambert_2026.pdf filter=lfs diff=lfs merge=lfs -text
articles/RLHF/A_General_Theoretical_Paradigm_to_Understand_Learning_from_Human_Preferences_Azar_2023.pdf filter=lfs diff=lfs merge=lfs -text
articles/RLHF/A_Little_Bit_of_Reinforcement_Learning_from_Human_Feedback_Lambert_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/RLHF/Controlled_Decoding_from_Language_Models_Mudgal_2024.pdf filter=lfs diff=lfs merge=lfs -text
